Package: com.kalyuta.chusma
Name: Chusma
Depends: mobilesubstrate, ws.hbang.common (>= 2.0)
Version: 0.0.3
Architecture: iphoneos-arm64
Description: Get notifications when someone is tracking you
Maintainer: David Kalyuta 
Author: David Kalyuta
Section: Tweaks
Icon: https://www.icaughtuapp.com/repo/icons/com.itaysoft.chusma.png
Depiction: https://www.icaughtuapp.com/repo/depictions/web/?p=com.itaysoft.chusma
SileoDepiction: https://www.icaughtuapp.com/repo/depictions/native/com.itaysoft.chusma/depiction.json
Conflicts: com.itaysoft.chusma
